In [27]:
#Instalar librerias
#Librerias a utilizar en python
import pandas as pd
import numpy as np
from scipy import stats
!pip install pandasql
import pandasql as ps

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in c:\users\rarod\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in c:\users\rarod\anaconda3\lib\site-packages (from pandasql) (1.4.2)
Requirement already satisfied: sqlalchemy in c:\users\rarod\anaconda3\lib\site-packages (from pandasql) (1.4.32)
Requirement already satisfied: pytz>=2020.1 in c:\users\rarod\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rarod\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\rarod\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rarod\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=b2b5554810c4b3f7a1615837c2148bfbb071fdabea20dcdce454121db936f706
  Stored in directory: c:\users\rarod\appdata\local\pip\cache\wheels\63\e8\ec\75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

# Introducción

# Diccionario de la base de datos de laringoscopia


| Variable                | Etiqueta                                                  | Unidades                     | Codificación                                           |
|-------------------------|-----------------------------------------------------------|------------------------------|--------------------------------------------------------|
| Edad                    | Edad                                                      | Anios                        |                                                        |
| Genero                  | Genero                                                    |                              | "Femenino","Masculino"                                 |
| IMC                     | Indice de masa corporal                                   | kg/m2                        |                                                        |
| Mallampati              | Escala para predecir la dificultad de intubación traqueal |                              | "I","II", "III", "IV"                                  |
| Grupo                   | A que grupo pertenece el paciente                         |                              | Pentax AWS. Macintosh hoja #4                          |
| Tiempo_primer_intento   | Tiempo de intubacion en el primer intento                 | Segundos                     |                                                        |
| Exito_primer_intento    | Intubación exitosa en el primer intento                   |                              | Si, No                                                 |
| Tiempo_segundo_intento  | Tiempo de intubacion en el segundo intento                | Segundos                     |                                                        |
| Metodo_segundo_intento  | Segundo intento realizado con el laringoscopio asignado   |                              | Si, No                                                 |
| Exito_segundo_intento   | Exito en el segundo intento                               |                              | Si, No                                                 |
| Tiempo_tercer_intento   | Tiempo de intubacion en el tercer intento                 | segundos                     |                                                        |
| Metodo_tercer_intento   | Tercer intento realizado con el laringoscopio asignado    |                              | Si, No                                                 |
| Exito_tercer_intento    | Exito en el tercer intento                                |                              | Si, No                                                 |
| Num_Intentos            | Numero de intentos realizado                              | Numero de intentos al operar |                                                        |
| Fracasos                | Numero de fracasos                                        | Numero de fracasos al operar |                                                        |
| Tiempo_total_intubacion | Tiempo total de intubacion                                |                              |                                                        |
| Exito_intubacion        | Intubacion exitosa                                        |                              | Si, No                                                 |
| Sangrado                | Presencia de sangrado                                     |                              | Si, No                                                 |
| Nivel_dificultad        | Dificulta en la intubación traqueal                       |                              | 0 = extremadamente facil, 100 = extremadamente dificil |
| Dolor_garganta  | Severidad en el dolor de garganta                                |                              |                                                        |
| Vista_glotis        | Visibilidad de la glotis en escala Cormack-lehane                   || "Grado 1 o 2","Grado 3 o 4" |
| Sangrado                | Presencia de sangrado                                     |                              | Si, No                                                 |
| Nivel_dificultad        | Dificulta en la intubación traqueal                       |                              | 0 = extremadamente facil, 100 = extremadamente dificil |

In [58]:
pdatos = pd.read_csv('pdatos.csv')
pdatos

,Unnamed: 0,age,gender,asa,BMI,Mallampati,Randomization,attempt1_time,attempt1_S_F,attempt2_time,...,attempt3_assigned_method,attempt3_S_F,attempts,failures,total_intubation_time,intubation_overall_S_F,bleeding,ease,sore_throat,view
0,1,51,0,3,56.20,1.0,0,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,5,0.0,1
1,2,52,0,3,44.60,2.0,0,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,20,0.0,1
2,3,37,0,3,41.60,1.0,0,31.0,0,60.0,...,NaN,NaN,2,1,91.0,1,0,80,0.0,0
3,4,20,0,3,46.32,2.0,0,31.0,0,46.0,...,NaN,NaN,2,1,77.0,1,0,80,NaN,0
4,5,35,0,3,61.00,2.0,0,21.0,1,NaN,...,NaN,NaN,1,0,21.0,1,0,20,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,58,1,3,NaN,4.0,1,49.0,1,NaN,...,NaN,NaN,1,0,49.0,1,0,85,0.0,0
95,96,51,0,2,41.10,1.0,1,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,15,0.0,1
96,97,59,1,3,40.00,1.0,1,29.0,0,27.0,...,NaN,NaN,2,1,56.0,1,0,55,0.0,1
97,98,58,0,3,34.09,1.0,1,41.0,0,49.0,...,NaN,NaN,2,1,90.0,1,0,90,2.0,0
98,99,52,1,2,36.81,3.0,1,34.0,1,NaN,...,NaN,NaN,1,0,34.0,1,0,15,0.0,1

In [59]:
datos= pd.read_csv('pdatos.csv')
datos

,Unnamed: 0,age,gender,asa,BMI,Mallampati,Randomization,attempt1_time,attempt1_S_F,attempt2_time,...,attempt3_assigned_method,attempt3_S_F,attempts,failures,total_intubation_time,intubation_overall_S_F,bleeding,ease,sore_throat,view
0,1,51,0,3,56.20,1.0,0,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,5,0.0,1
1,2,52,0,3,44.60,2.0,0,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,20,0.0,1
2,3,37,0,3,41.60,1.0,0,31.0,0,60.0,...,NaN,NaN,2,1,91.0,1,0,80,0.0,0
3,4,20,0,3,46.32,2.0,0,31.0,0,46.0,...,NaN,NaN,2,1,77.0,1,0,80,NaN,0
4,5,35,0,3,61.00,2.0,0,21.0,1,NaN,...,NaN,NaN,1,0,21.0,1,0,20,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,58,1,3,NaN,4.0,1,49.0,1,NaN,...,NaN,NaN,1,0,49.0,1,0,85,0.0,0
95,96,51,0,2,41.10,1.0,1,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,15,0.0,1
96,97,59,1,3,40.00,1.0,1,29.0,0,27.0,...,NaN,NaN,2,1,56.0,1,0,55,0.0,1
97,98,58,0,3,34.09,1.0,1,41.0,0,49.0,...,NaN,NaN,2,1,90.0,1,0,90,2.0,0
98,99,52,1,2,36.81,3.0,1,34.0,1,NaN,...,NaN,NaN,1,0,34.0,1,0,15,0.0,1

In [61]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                99 non-null     int64
 1   age                       99 non-null     int64
 2   gender                    99 non-null     int64
 3   asa                       99 non-null     int64
 4   BMI                       97 non-null     float64
 5   Mallampati                98 non-null     float64
 6   Randomization             99 non-null     int64
 7   attempt1_time             99 non-null     float64
 8   attempt1_S_F              99 non-null     int64
 9   attempt2_time             10 non-null     float64
 10  attempt2_assigned_method  10 non-null     float64
 11  attempt2_S_F              10 non-null     float64
 12  attempt3_time             3 non-null      float64
 13  attempt3_assigned_method  3 non-null      float64
 14  attempt3_S_F              3 non-null      float64
 15  attempts                  99 non-null     int64
 16  failures                  99 non-null     int64
 17  total_intubation_time     99 non-null     float64
 18  intubation_overall_S_F    99 non-null     int64
 19  bleeding                  99 non-null     int64
 20  ease                      99 non-null     int64
 21  sore_throat               98 non-null     float64
 22  view                      99 non-null     int64
dtypes: float64(11), int64(12)
memory usage: 17.9 KB

In [62]:
#Remplazar los nombres de multiples columans
datos  = datos.rename(columns={'age': 'Edad', 'gender': 'Genero', 'asa': 'Estado_fisico','BMI': 'IMC','Randomization':'Grupo', 'attempt1_time': 'Tiempo_primer_intento(s)',
                        'attempt1_S_F': 'Exito_primer_intento', 'attempt2_time': 'Tiempo_segundo_intento(s)', 'attempt2_assigned_method': ' Metodo_segundo_intento','attempt2_S_F': 'Exito_segundo_intento',
                        'attempt3_time': 'Tiempo_tercer_intento(s)', 'attempt3_assigned_method': ' Metodo_tercer_intento','attempt3_S_F': 'Éxito_tercer_intento', 'attempts': 'Num_Intentos', 'failures': 'Fracasos',
                        'total_intubation_time': 'Tiempo_Intubacion', 'intubation_overall_S_F': 'Exito_intubacion', 'bleeding': 'Sangrado', 'ease': 'Nivel_dificultad','sore_throat': 'Dolor_garganta', 'view': 'Vista_glotis',})
# Imprimir el DataFrame resultante
datos

,Unnamed: 0,Edad,Genero,Estado_fisico,IMC,Mallampati,Grupo,Tiempo_primer_intento(s),Exito_primer_intento,Tiempo_segundo_intento(s),...,Metodo_tercer_intento,Éxito_tercer_intento,Num_Intentos,Fracasos,Tiempo_Intubacion,Exito_intubacion,Sangrado,Nivel_dificultad,Dolor_garganta,Vista_glotis
0,1,51,0,3,56.20,1.0,0,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,5,0.0,1
1,2,52,0,3,44.60,2.0,0,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,20,0.0,1
2,3,37,0,3,41.60,1.0,0,31.0,0,60.0,...,NaN,NaN,2,1,91.0,1,0,80,0.0,0
3,4,20,0,3,46.32,2.0,0,31.0,0,46.0,...,NaN,NaN,2,1,77.0,1,0,80,NaN,0
4,5,35,0,3,61.00,2.0,0,21.0,1,NaN,...,NaN,NaN,1,0,21.0,1,0,20,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,58,1,3,NaN,4.0,1,49.0,1,NaN,...,NaN,NaN,1,0,49.0,1,0,85,0.0,0
95,96,51,0,2,41.10,1.0,1,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,15,0.0,1
96,97,59,1,3,40.00,1.0,1,29.0,0,27.0,...,NaN,NaN,2,1,56.0,1,0,55,0.0,1
97,98,58,0,3,34.09,1.0,1,41.0,0,49.0,...,NaN,NaN,2,1,90.0,1,0,90,2.0,0
98,99,52,1,2,36.81,3.0,1,34.0,1,NaN,...,NaN,NaN,1,0,34.0,1,0,15,0.0,1

In [63]:
# Convertir la columna 'Genero' en variable categórica
datos ['Genero'] = pd.Categorical(datos['Genero'], categories=[0, 1], ordered=True)
datos ['Genero'] = datos ['Genero'].map({0: "Femenino", 1: "Masculino"})

# Convertir la columna 'Estado_fisico' en variable categórica
datos ['Estado_fisico'] = pd.Categorical(datos['Estado_fisico'], categories=[1, 2, 3, 4], ordered=True)
datos ['Estado_fisico'] = datos ['Estado_fisico'].map({1: "I", 2: "II", 3: "III", 4: "IV"})

# Convertir la columna 'Mallampati' en variable categórica
datos ['Mallampati'] = pd.Categorical(datos ['Mallampati'], categories=[1, 2, 3, 4], ordered=True)
datos ['Mallampati'] = datos ['Mallampati'].map({1: "I", 2: "II", 3: "III", 4: "IV"})

# Convertir la columna 'Grupo' en variable categórica
datos ['Grupo'] = pd.Categorical(datos ['Grupo'], categories=[0, 1], ordered=True)
datos ['Grupo'] = datos['Grupo'].map({0: "Macintosh", 1: "Pentax_AWS"})

# Convertir otras columnas en variables categóricas (sigue el mismo patrón)
# ...

# Mostrar el DataFrame actualizado
datos

,Unnamed: 0,Edad,Genero,Estado_fisico,IMC,Mallampati,Grupo,Tiempo_primer_intento(s),Exito_primer_intento,Tiempo_segundo_intento(s),...,Metodo_tercer_intento,Éxito_tercer_intento,Num_Intentos,Fracasos,Tiempo_Intubacion,Exito_intubacion,Sangrado,Nivel_dificultad,Dolor_garganta,Vista_glotis
0,1,51,Femenino,III,56.20,I,Macintosh,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,5,0.0,1
1,2,52,Femenino,III,44.60,II,Macintosh,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,20,0.0,1
2,3,37,Femenino,III,41.60,I,Macintosh,31.0,0,60.0,...,NaN,NaN,2,1,91.0,1,0,80,0.0,0
3,4,20,Femenino,III,46.32,II,Macintosh,31.0,0,46.0,...,NaN,NaN,2,1,77.0,1,0,80,NaN,0
4,5,35,Femenino,III,61.00,II,Macintosh,21.0,1,NaN,...,NaN,NaN,1,0,21.0,1,0,20,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,58,Masculino,III,NaN,IV,Pentax_AWS,49.0,1,NaN,...,NaN,NaN,1,0,49.0,1,0,85,0.0,0
95,96,51,Femenino,II,41.10,I,Pentax_AWS,29.0,1,NaN,...,NaN,NaN,1,0,29.0,1,0,15,0.0,1
96,97,59,Masculino,III,40.00,I,Pentax_AWS,29.0,0,27.0,...,NaN,NaN,2,1,56.0,1,0,55,0.0,1
97,98,58,Femenino,III,34.09,I,Pentax_AWS,41.0,0,49.0,...,NaN,NaN,2,1,90.0,1,0,90,2.0,0
98,99,52,Masculino,II,36.81,III,Pentax_AWS,34.0,1,NaN,...,NaN,NaN,1,0,34.0,1,0,15,0.0,1

In [57]:
# Filtrar los datos para el grupo Macintosh
grupo_macintosh = datos[datos['Grupo'] == 'Macintosh']

# Obtener estadísticas descriptivas para el grupo Macintosh
descriptiva_macintosh = grupo_macintosh.describe()

descriptiva_macintosh

,Unnamed: 0,Edad,IMC,Tiempo_primer_intento(s),Exito_primer_intento,Tiempo_segundo_intento(s),Metodo_segundo_intento,Exito_segundo_intento,Tiempo_tercer_intento(s),Metodo_tercer_intento,Éxito_tercer_intento,Num_Intentos,Fracasos,Tiempo_Intubacion,Exito_intubacion,Sangrado,Nivel_dificultad,Dolor_garganta,Vista_glotis
count,49.00000,49.000000,49.000000,49.000000,49.000000,4.000000,4.0,4.0,0.0,0.0,0.0,49.000000,49.000000,49.000000,49.0,49.0,49.000000,48.000000,49.00000
mean,25.00000,48.510204,42.454694,25.836735,0.918367,45.750000,1.0,1.0,NaN,NaN,NaN,1.081633,0.081633,29.571429,1.0,0.0,38.204082,0.437500,0.77551
std,14.28869,14.069948,5.906563,10.223954,0.276642,13.275918,0.0,0.0,NaN,NaN,NaN,0.276642,0.276642,17.427654,0.0,0.0,28.057218,0.711793,0.42157
min,1.00000,20.000000,30.920000,8.960000,0.000000,28.000000,1.0,1.0,NaN,NaN,NaN,1.000000,0.000000,8.960000,1.0,0.0,0.000000,0.000000,0.00000
25%,13.00000,37.000000,39.090000,21.210000,1.000000,41.500000,1.0,1.0,NaN,NaN,NaN,1.000000,0.000000,21.900000,1.0,0.0,10.000000,0.000000,1.00000
50%,25.00000,51.000000,43.030000,25.310000,1.000000,47.500000,1.0,1.0,NaN,NaN,NaN,1.000000,0.000000,26.000000,1.0,0.0,35.000000,0.000000,1.00000
75%,37.00000,60.000000,46.320000,29.420000,1.000000,51.750000,1.0,1.0,NaN,NaN,NaN,1.000000,0.000000,29.450000,1.0,0.0,60.000000,1.000000,1.00000
max,49.00000,72.000000,61.000000,69.000000,1.000000,60.000000,1.0,1.0,NaN,NaN,NaN,2.000000,1.000000,91.000000,1.0,0.0,90.000000,3.000000,1.00000

In [55]:
# Filtrar los datos para el grupo Pentax_AWS
grupo_pentax_aws = datos[datos['Grupo'] == 'Pentax_AWS']
# Obtener estadísticas descriptivas para el grupo Pentax_AWS
descriptiva_pentax_aws = grupo_pentax_aws.describe()
descriptiva_pentax_aws

,Unnamed: 0,Edad,IMC,Tiempo_primer_intento(s),Exito_primer_intento,Tiempo_segundo_intento(s),Metodo_segundo_intento,Exito_segundo_intento,Tiempo_tercer_intento(s),Metodo_tercer_intento,Éxito_tercer_intento,Num_Intentos,Fracasos,Tiempo_Intubacion,Exito_intubacion,Sangrado,Nivel_dificultad,Dolor_garganta,Vista_glotis
count,50.00000,50.00000,48.000000,50.000000,50.00000,6.000000,6.000000,6.000000,3.000000,3.000000,3.0,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.00000
mean,74.50000,50.32000,41.368542,40.830000,0.86000,41.000000,0.833333,0.500000,21.333333,0.333333,1.0,1.180000,0.180000,45.230000,0.920000,0.040000,52.100000,0.500000,0.86000
std,14.57738,12.18805,4.436073,17.048159,0.35051,18.154889,0.408248,0.547723,7.767453,0.577350,0.0,0.522553,0.522553,21.495204,0.274048,0.197949,31.430032,0.839096,0.35051
min,50.00000,29.00000,34.090000,12.420000,0.00000,11.000000,0.000000,0.000000,15.000000,0.000000,1.0,1.000000,0.000000,12.420000,0.000000,0.000000,5.000000,0.000000,0.00000
25%,62.25000,40.25000,37.617500,29.655000,1.00000,32.500000,1.000000,0.000000,17.000000,0.000000,1.0,1.000000,0.000000,31.000000,1.000000,0.000000,25.000000,0.000000,1.00000
50%,74.50000,51.50000,41.610000,36.270000,1.00000,49.000000,1.000000,0.500000,19.000000,0.000000,1.0,1.000000,0.000000,38.140000,1.000000,0.000000,52.500000,0.000000,1.00000
75%,86.75000,58.00000,44.000000,48.797500,1.00000,50.500000,1.000000,1.000000,24.500000,0.500000,1.0,1.000000,0.000000,50.060000,1.000000,0.000000,80.000000,1.000000,1.00000
max,99.00000,77.00000,57.000000,113.000000,1.00000,59.000000,1.000000,1.000000,30.000000,1.000000,1.0,3.000000,2.000000,100.000000,1.000000,1.000000,100.000000,3.000000,1.00000

In [11]:
from scipy.stats import ranksums

# Supongamos que ya tienes los datos cargados en un DataFrame llamado 'datos'
# Si aún no los tienes, carga los datos antes de continuar

# Número de intentos de intubación en grupo Macintosh
intentMacintosh = datos .loc[datos  ['Grupo'] == 'Macintosh', 'Num_Intentos']

# Número de intentos de intubación en grupo Pentax_AWS
intentPentax = datos .loc[datos  ['Grupo'] == 'Pentax_AWS', 'Num_Intentos']

# Conversión de tipo lista a valores numéricos (no es necesario en Python)

# Realizar la prueba de suma de rangos de Wilcoxon
wilcoxon_stat, p_value = ranksums(intentMacintosh, intentPentax)

# Mostrar los resultados
print("Estadística de la prueba de suma de rangos de Wilcoxon:", wilcoxon_stat)
print("Valor p:", p_value)

Estadística de la prueba de suma de rangos de Wilcoxon: -0.3709227324785955
Valor p: 0.7106950829791552

In [12]:
print(datos.isnull().sum())

Unnamed: 0                    0
Edad                          0
Genero                       99
Estado_fisico                 0
IMC                           2
Mallampati                    1
Grupo                         0
Tiempo_primer_intento(s)      0
Exito_primer_intento          0
Tiempo_segundo_intento(s)    89
 Metodo_segundo_intento      89
Exito_segundo_intento        89
Tiempo_tercer_intento(s)     96
 Metodo_tercer_intento       96
Éxito_tercer_intento         96
Num_Intentos                  0
Fracasos                      0
Tiempo_Intubacion             0
Exito_intubacion              0
Sangrado                      0
Dificultad                    0
Dolor_garganta                1
Vista_glotis                  0
dtype: int64

In [13]:
# Número de intentos de intubación en grupo Macintosh
intentMacintosh = datos .loc[datos ['Grupo'] == 'Macintosh', 'Num_Intentos']

# Número de intentos de intubación en grupo Pentax_AWS
intentPentax = datos .loc[datos ['Grupo'] == 'Pentax_AWS', 'Num_Intentos']

# Realizar la prueba de suma de rangos de Wilcoxon
wilcoxon_stat, p_value = ranksums(intentMacintosh, intentPentax)

# Mostrar los resultados
print("Estadística de la prueba de suma de rangos de Wilcoxon:", wilcoxon_stat)
print("Valor p:", p_value)

Estadística de la prueba de suma de rangos de Wilcoxon: -0.3709227324785955
Valor p: 0.7106950829791552

In [14]:
from scipy.stats import fisher_exact
t1 = pd.crosstab(datos ['Grupo'], datos ['Exito_primer_intento'])

# Mostrar la tabla de contingencia
print(t1)
# Calcular el Odds Ratio y el valor p
odds_ratio, p_value = fisher_exact(t1)

# Mostrar los resultados
print("Odds Ratio:", odds_ratio)
print("Valor p:", p_value)

Exito_primer_intento  0   1
Grupo
Macintosh             4  45
Pentax_AWS            7  43
Odds Ratio: 0.546031746031746
Valor p: 0.5245551652531852

In [16]:
from scipy.stats import fisher_exact
# Creación de la tabla de contingencia: Tratamiento vs éxito de intubación en general
t2 = pd.crosstab(datos['Grupo'], datos['Exito_intubacion'])

# Mostrar la tabla de contingencia
print(t2)
# Calcular el Odds Ratio y el valor p
odds_ratio, p_value = fisher_exact(t2)

# Mostrar los resultados
print("Odds Ratio:", odds_ratio)
print("Valor p:", p_value)

Exito_intubacion  0   1
Grupo
Macintosh         0  49
Pentax_AWS        4  46
Odds Ratio: 0.0
Valor p: 0.11746329272102488

In [17]:
t3 = pd.crosstab(datos['Grupo'], datos['Sangrado'])
# Mostrar la tabla de contingencia
print(t3)
# Calcular el Odds Ratio y el valor p
odds_ratio, p_value = fisher_exact(t3)

# Mostrar los resultados
print("Odds Ratio:", odds_ratio)
print("Valor p:", p_value)

Sangrado     0  1
Grupo
Macintosh   49  0
Pentax_AWS  48  2
Odds Ratio: inf
Valor p: 0.49494949494949503

In [19]:
# Creación de la tabla de contingencia: Tratamiento vs visibilidad de la glotis
t4 = pd.crosstab(datos['Grupo'], datos['Vista_glotis'])

# Mostrar la tabla de contingencia
print(t4)
# Calcular el Odds Ratio y el valor p
odds_ratio, p_value = fisher_exact(t4)

# Mostrar los resultados
print("Odds Ratio:", odds_ratio)
print("Valor p:", p_value)

Vista_glotis   0   1
Grupo
Macintosh     11  38
Pentax_AWS     7  43
Odds Ratio: 1.7781954887218046
Valor p: 0.3079886275294338

In [23]:

# Éxito de intubación en el primer intento en grupo Macintosh
exito_1int_macintosh = datos.loc[datos['Grupo'] == 'Macintosh', 'Exito_primer_intento']

# Éxito de intubación en el primer intento en grupo Pentax_AWS
exito_1int_pentax_aws = datos.loc[datos['Grupo'] == 'Pentax_AWS', 'Exito_primer_intento']

# Conversión de tipo lista a valores numéricos
exito_1int_macintosh = exito_1int_macintosh.astype(float)
exito_1int_pentax_aws = exito_1int_pentax_aws.astype(float)

In [28]:
# Conteo en grupo Macintosh
conteo_macintosh = pd.crosstab(index=exito_1int_macintosh, columns="count")

# Conteo en grupo Pentax_AWS
conteo_pentax_aws = pd.crosstab(index=exito_1int_pentax_aws, columns="count")

print("Conteo en grupo Macintosh:")
print(conteo_macintosh)

print("\nConteo en grupo Pentax_AWS:")
print(conteo_pentax_aws)

Conteo en grupo Macintosh:
col_0                 count
Exito_primer_intento
0.0                       4
1.0                      45

Conteo en grupo Pentax_AWS:
col_0                 count
Exito_primer_intento
0.0                       7
1.0                      43

In [39]:
# Intervalo de confianza a 95% para el éxito de intubación en el primer intento para grupo Macintosh
successes_macintosh = 45
total_macintosh = 49
conf_level = 0.95

lower_macintosh, upper_macintosh = stats.binom.interval(conf_level, total_macintosh, successes_macintosh / total_macintosh)

print("Intervalo de confianza a 95% para el éxito de intubación en el primer intento para grupo Macintosh:")
print(f"Lower bound: {lower_macintosh:.4f}")
print(f"Upper bound: {upper_macintosh:.4f}")

# Intervalo de confianza a 95% para el éxito de intubación en el primer intento para grupo Pentax_AWS
successes_pentax_aws = 43
total_pentax_aws = 50
conf_level = 0.95

lower_pentax_aws, upper_pentax_aws = stats.binom.interval(conf_level, total_pentax_aws, successes_pentax_aws / total_pentax_aws)

print("\nIntervalo de confianza a 95% para el éxito de intubación en el primer intento para grupo Pentax_AWS:")
print(f"Lower bound: {lower_pentax_aws:.4f}")
print(f"Upper bound: {upper_pentax_aws:.4f}")

Intervalo de confianza a 95% para el éxito de intubación en el primer intento para grupo Macintosh:
Lower bound: 41.0000
Upper bound: 48.0000

Intervalo de confianza a 95% para el éxito de intubación en el primer intento para grupo Pentax_AWS:
Lower bound: 38.0000
Upper bound: 47.0000